@each $mark, $color in $border-color {
  .b-#{$mark} {
    border-color: $color;
  }
}

@each $type, $prop in $border  {
  .b-#{$type} {
    border: $prop;
  }
}

@each $mark in (tb, rl) {
  @each $type, $prop in $border  {
    .b-#{$mark}-#{$type} {
      @if $mark == tb { border-top: $prop; border-bottom: $prop; }
      @else { border-right: $prop; border-left: $prop; }
    }
  }
}

@each $mark, $side in (t: top, r: right, b: bottom, l: left) {
  @each $type, $prop in $border  {
    .b-#{$mark}-#{$type} {
      border-#{$side}: $prop;
    }
  }
}