@each $mark, $prop in (block: block,
  inblock: inline-block,
  in: inline,
  flex: flex,
  inflex: inline-flex,
  inherit: inherit,
  none: none) {
  .d-#{$mark} {
    display: $prop;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}