/*********************************************************************************************************************/
/*QuickCSS library v0.0.1*/
/*Automated compilation of helper classes from sass sources specifically for your project.*/
/*Author: Arthur Osipenko
          arthur.osipenko@gmail.com
          https://github.com/G-MontaG  */

/*By changing the values of the variables in this file you can customize helper classes to fit your needs*/

/*Please note that all functions are universal and compatible with the all units (px, em, %, etc).*/
/*However, not all functions are supported float numbers. They have corresponding warning.*/
/*Also, I recommend use px.*/
/*********************************************************************************************************************/


/*Convert all units to integer*/
/*An internal library function. Never mind.*/
@import "parse";


/*Margins classes generator*/
/*Margin-min and margin-max is range of the generator*/
/*Margin-step start to work after 10 value. Before margin-step always 1.*/
$margin-min: 0px;
$margin-max: 100px;
$margin-step: 5px;
/*WARN: don't support float*/
@import "margins";


/*Padding classes generator*/
/*Padding-min and padding-max is range of the generator*/
/*Padding-step start to work after 10 value. Before padding-step always 1.*/
$padding-min: 0px;
$padding-max: 100px;
$padding-step: 5px;
/*WARN: don't support float*/
@import "paddings";


/*Centering classes generator*/
/*Set center-width for child if tou know this value*/
/*Set center-height for child if tou know this value*/
/*Set all properties in center-width-height or don't set anything*/
/*Also, you got flex centering*/

/*Help for you:
  $center: (400px, 400px) (600px, 600px) -> .center-known-400-400 .center-known-600-600
  $center-width: (400px, 600px); -> .center-known-w-400 and center-known-w-600  */

$center: (400px, 400px) (600px, 600px);
$center-width: (400px, 600px);
$center-height: (400px, 600px);
@import "center";


/*Border classes generator*/

/*Help for you:
  $border-color: (black: #000, grey: #e5e9ec); -> .b-black .b-grey
  $border: (sm: 1px solid, lg: 5px solid); -> .b-sm .b-lg */

$border-color: (black: #000, grey: #e5e9ec, transparent: rgba(0, 0, 0, 0.4));
$border: (sm: 1px solid, lg: 5px solid);
@import "border";


/*Border radius classes generator*/
$border-radius: (3px, 5px);
@import "border-radius";


/*Shadow classes*/
@import "shadow";


/*Display classes generator*/
@import "display";


/*Box classes generator*/

/*Help for you:
  $box: (44px, 44px) (50px 50px); -> .box-44-44 .box-50-50
  $box-w: (44px, 50px); -> .box-w-44 .box-w-50  */

$box: (44px 44px) (50px 50px) (100px 100px) (200px 100px);
$box-w: (44px, 50px, 100px, 200px);
$box-h: (44px, 50px, 100px, 200px);
$box-in-percent: (100%, 100%) (50%, 50%) (100%, 50%);
$box-in-percent-w: (100%, 50%, 25%);
$box-in-percent-h: (100%, 50%, 25%);
@import "box";

/*Position classes generator*/
$position-top-bottom: (top: 0px, bottom: 0px);
$position-right-left: (right: 0px, left: 0px);
@import "position";


/*Z-index classes generator*/
/*Z-index-min and z-index-max is range of the generator*/
/*Z-index-step start to work after 10 value. Before z-index-step always 1.*/
$z-index-min: 0;
$z-index-max: 100;
$z-index-step: 5;
@import "z-index";


/*Font-size classes generator*/
/*Font-size-min and font-size-max is range of the generator*/
/*Font-size-step start to work after 10 value. Before font-size-step always 1.*/
$font-size-min: 1px;
$font-size-max: 50px;
$font-size-step: 5px;
/*WARN: don't support float*/
@import "font-size";


/*Font weight classes generator*/
@import "font-weight";


/*Line height classes generator*/
$line-height: (sm: 12px, md: 16.8px, lg: 28px);
@import "line-height";


/*Text-decoration classes generator*/
@import "text-dacoration";


/*Text-transform classes generator*/
@import "text-transform";


/*Truncate classes generator*/
@import "truncate";